
{% extends 'base.html' %}




{% block title %} 

Developer

{% endblock title %}

{% block headthing %} 

{% endblock headthing %}




{% block css %}

.wrappersv{
      background: #fff;
      border-radius: 5px;
      padding: 25px;
      max-width: 380px;
      width: 100%;
      margin: 60px;
       border: 2px solid black;
      box-shadow: 0px 5px 10px rgba(f,f,f,0.2);
       display: block;
    margin-left: auto;
    margin-right: auto ;
  }
  

  .slink{
      background:  #38ffee;
      display: block;
      margin-bottom: 12px;
      border-radius: 5px;
      padding: 8px 15px;
      border: 2px solid #000;
      transition: all 0.2s ease;
      font-size: 15px;
      
  }
  
  .slinkh{
     
      display: block;
      margin-bottom: 15px;
      margin-top: 20px ;
      border-radius: 0px;
      padding: 18px 15px;
      font-weight:600;
      border: 2px solid #000000ce;
      transition: all 0.6s ease;
      text-decoration: none;
       background:  #38ffee;
  }
  
  .slinkf{
      background:  #38ffee;
      display: block;
      margin-bottom: 12px;
      border-radius: 5px;
      padding: 8px 15px;
      border: 0px solid #ffffffce;
      transition: all 0.2s ease;
      text-align: center;
      font-size: 12px;
      
  }
  
  .slink{

  animation: ease-in-out;
      background: rgb(0, 0, 0);
      color: #38ffee;
  }

  .detailsv{
      
      background: #fff;
     text-align: center;
    }


    .detailsv span{
        background: #fff;
      font-weight: 600;
      font-size: 20px;
    }







{% endblock css %}






{% block body %}
 


  <div style=" 
font-size:22px;
color: #38ffee;
font-weight:500;
  margin: 0 auto;
   text-align: center;
  padding: 10px;
  margin-top:20px;
  margin-bottom:-45px;">

     Connect at following Social Handles :
  </div>




 <div class="wrappersv">

    <header class="slinkh"  style=" background:  #38ffee; " >
      <div class="detailsv"  style=" background:  #38ffee; " >
        <span class="name" style=" background:  #38ffee; font-size: 24px; "> SHIVANSH VASU  </span>
        <p style=" font-size: 14px; background:  #38ffee; color: #242526;"> Bachelor of Technology  </br> 
        Information Technology
        ( Second Year )
        </p>
        
      </div>
    </header>

    <div class="center">
      <a href="https://www.instagram.com/theshivanshvasu" target="_blank" style="text-decoration: none; 
       background: #fff;  font-weight:500;   color: #C13584">
        <div class="slink"   >
          <span class="fab fa-instagram"> </span> &nbsp &nbsp Instagram
        </div></div>  </a>
        <div class="center">
          <a href="https://www.linkedin.com/in/theshivanshvasu" target="_blank"
            style="text-decoration: none;  font-weight:500;  background: #fff;  color:#0e76a8">
            <div class="slink">
              <span class="fab fa-linkedin"> </span> &nbsp &nbsp LinkedIn
            </div></div> </a>
            <div class="center">
              <a href="https://www.facebook.com/theshivanshvasu" target="_blank"
                style="text-decoration: none;  font-weight:500; color:#3b5998">
                <div class="slink">
                  <span class="fab fa-facebook"> </span> &nbsp &nbsp Facebook
                </div></div> </a>
                
                    <div class="center">
                      <a href="https://www.twitter.com/theshivanshvasu" target="_blank"
                        style="text-decoration: none;  font-weight: 500;  color:#00Acee">
                        <div class="slink">
                          <span class="fab fa-twitter"> </span> &nbsp &nbsp Twitter 
            </div>     </div>    </a>   
            
             <div class="center">
          <a href="https://github.com/theshivanshvasu" target="_blank"
            style="text-decoration: none;  font-weight:500;  background: #fff;  color:#0e76a8">
            <div class="slink">
              <span class="fab fa-github"> </span> &nbsp &nbsp  Github
            </div></div> </a>

            

               </div>
        </div>
    </div>



<header class="slinkh" style=" font-size: 15px; background: #38ffee; color: black" >
      <div class="detailsv" style=" font-size: 15px; background: #38ffee; color: black" >
      

        <p style=" font-size: 15px; background: #38ffee; color: black" >
        Website Hosted on 20th of October 2021 
        </p>
      </div>
    </header>


{% endblock body %}



<! –– Coded by - Shivansh Vasu @theshivanshvasu ––>

